form div.first_name.field input, form div.last_name.field input {width: 9em;}
form div.address.field, form div.city.field, form div.born_on.field, form div.photo.field { clear: left; }
form div.address.field textarea  { width: 19em; height: 4em; }
form fieldset#contact_options_fs { clear:both; width: 32em; }
form .contact_type select { width: 8em; }
form .contact_info input[type='text'] { width: 12em; }
fieldset.tight { float: left; margin-bottom: 1em; width: 20em; clear: left; }
img.photo, img.dummy-photo { float: right; width: auto; clear: none; }
